@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Seleccione alguna categoría</h3>
        <div class="row justify-content-md-between align-items-center">
            <div class="col-md-3">
                <div class="text-center categoria">
                    <a href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 1 })'>Cuidado de la Piel</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center categoria">
                    <a href='@Url.Action("prodCategoria", "Catalogo", new { idCat = 2 })'>Uñas</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>